github "alibaba/HandyJSON" ~> 1.1.0
github "Alamofire/Alamofire" ~> 4.0
github "SnapKit/SnapKit" ~> 3.0.2
github "SVProgressHUD/SVProgressHUD"
github "onevcat/Kingfisher" ~> 3.0
#github "realm/realm-cocoa"
